@model Microsoft.AspNetCore.Identity.IdentityRole
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<div class="col-md-4">
    <form asp-action="Create">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="" accept="image/*" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group" style="margin-top:30px;">
            <input type="submit" class="btn btn-secondary btn-block" value="Register" />
        </div>

    </form>
</div>

